
/* */
* {
  box-sizing: border-box;
  transition: all ease-in-out 250ms;
}

body {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 95%;
  max-width: 70em;
  margin: 0 auto;
}

.clearfix::after,
section::after,
footer::after {
  content: '';
  display: block;
  clear: both;

}
/* colums system 
========================= */
/*  CSS [attribute*=value] Selector - pagalba pazymime visas klases, kurios prasideda nuo col-*/
[class*=col-] {
  width: 100%;
  margin-top: 1em;
}
[class*=col-]:first-child {
  margin-top: 0;
}

.col-1 {
  width: 33.333334%;
  float: left;
}

@media (min-width: 45rem) { 
  [class*=col-] {
    float:left;
    padding: 0 .25em
  }
  
  [class*=col-]:first-child {
    padding-left: 0;
  }

  [class*=col-]:last-child {
    padding-right: 0;
  }
  .col-3 {
    width: 50%;

  }


  .col-1 {
    width: 16.6666%;

  }
}

/* typography
========================= */

H1 {
  font-weight: 300;
  font-size: 1.7rem;
  margin-top: 0;
}

p {
  margin-top:0;
  margin-bottom: 0;
}

p:last-of-type { margin-bottom: 0;}

.title-text {
  font-size: 2.2rem;
  font-weight: 900;
  margin-bottom: 1.5em;
  margin-top: 1em;
}

.title-text span {
  display: block;
  font-weight: 300;
  font-size: .9em;
}

.title-action {
  margin: 0 0 .5em;
}

.unstyled-list {
  margin:0;
  padding: 0;
  list-style-type: none;
}

@media (min-width:60rem) {
  .title-text {
    font-size: 3rem;
  }
}

/* BUTTONS */

.button {
  display: inline-block;
  font-size: 1.11rem;
  text-decoration: none;
  text-transform: uppercase;
  border-width: 2px;
  border-style: solid;
  padding: .5em 1.5em;
}

/*media */

@media (min-width:60rem) {
  .button {
    font-size: 1.2rem;
  }
}

.btn-small {
  font-size: .7rem;
  font-weight: 700;
}

.btn-blue {
  color:#8e44ad;
  border-color: #8e44ad;
}

.btn-blue:hover,
.btn-blue:focus {
  background: #8e44ad;
  color: #fff;
  font-weight: 500;
}

.btn-white {
  color:#fff;
  border-color: #fff;
}

.btn-white:hover,
.btn-white:focus {
  background: #fff;
  color: #8e44ad;
  font-weight: 500;
}


/* header 
========================= */

header {
  position:absolute; 
  left: 0;
  right:0;
  margin: 1em;
}

nav ul {
  margin:0;
  padding:0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin:1em;
}

nav a {
  text-decoration: none;
  padding: .5em;
  font-weight: 900;
  text-transform: uppercase;
  font-size: .8rem;
  color:#fff;
}

nav a:hover,
nav a:focus {
  color:#ddd;
  border-bottom: 1px solid #8e44ad;
  transition: .8s;
}

.logo {
  width: 6rem;
  border: 3px solid #8e44ad;
  border-radius: 50%;
  transition: 1.1s;
}

.logo:hover,
.logo:focus {
  border: none;
  transition: 1.1s;
}
/*media */

@media (min-width:60rem) {
  .logo {
    float: left;
  }
  nav {
    float:right;
  }
}

/* hero 
========================= */

.home-hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/hero.jpeg);
  padding: 10em 0;
  background-size: cover;
  background-position: center;
  color:#fff;
}

/*media */

@media (min-width:60rem) {
  .home-hero {
    height: 100vh;
    padding-top: 30vh;
  }

}

/* HOME ABOUT 
========================= */

.home-about-text {
  background-color: #232323;
  padding:3.2em;
  width: 100vw;
  margin-left: -2.7%;
  /* outline kaip border, bet jiems davus offset, jais galima manipuliuoti*/
  outline: 2px solid #8e44ad;
  outline-offset: -2.5em;
  color: #fff;
  position: relative;
}

.home-about-text h1 {
  color: #8e44ad;
  position: absolute;
  /* h1 buvo ne per viduri, uzdejus left, 50, jis ptasidejo nuo pses divo, o uzdejus translatex -50, ta puse nustume is saves ir gavosi per viduri */
  left: 50%;
  transform:translateX(-50%);
  top:.75em;
  background-color: #232323;
}

.home-about-text p {
  font-weight: 300;
  line-height: 1.3em;
  padding: .5em;
}

@media (min-width: 25rem) {
  h1{
    font-size: 2rem;
  }

  .home-about-text h1 {
    top: .6em;
    padding: 0 .225em;
  }
}

@media (min-width: 60rem) {
  h1{
    font-size: 2.6rem;
  }

  .home-about {
    background-image: url(../img/Who-we-are.jpeg);
    background-repeat: no-repeat;
    background-size:cover;
    padding-bottom: 18em;
  }

  .home-about-text {
    width: 45%;
    padding: 5em;
    outline-offset: -3.75em;
    margin-left: -2.5%;
    top:-5.1em;
    text-align: left;
    box-shadow: 0 0 3em 0 rgba(0,0,0, .3);
  }

  .home-about-text h1 {
    top: .71em;
    left: 4.3rem;
    transform:translateX(0);
    
  }
}

/* Portfolio 
========================= */

.portfolio {
  margin: 3em 0 0;
}

.port-item {
  margin:0;
  position: relative;
}
/* images ind divs is displayed as inline block, for this reason they have white line. to remove it - display block */ 
.port-item img {
  display: block;
}

.port-desc {
  position: absolute;
  z-index: 100;
  bottom: 0em;
  left:0em;
  right:0em;
  color:#fff;
  background:  rgba(0, 0, 0, 0.5);
  padding-bottom: 1.5em;
}

.port-desc p {
  margin: 1em;
}

@media (min-width: 45rem) {
  .port-item {
    width: 50%;
    float:left;
  }
}

@media (min-width: 60rem) {
  .port-item {
    width: 33.3333334%;
    overflow: hidden;
  }

  .port-desc {
    transform: translateY(150%);
  }

  .port-item:hover .port-desc {
    transform: translateY(0%);
  }
}


/* Portfolio 
========================= */

.action {
  background-color:#8e44ad;
  padding: 5em 0;
  color:#fff;
}

/* footer 
========================= */

footer {
  background: #232323;
  color: #fff;
  text-align: left;
  padding: 5em 0;
}